*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%px;
	height: 600px;
	background: url('images/back.jpg');
	background-size: cover;

}
#main{
   width: 434px;
   height: 434px;
   position: absolute;
   background-color:#BBADA0;
   border: 6px solid #BBADA0;
   border-radius: 5px;
   left:500px;
   top:150px;
   display: flex;
   flex-wrap: wrap;
}
div{
   background-color: #CCC0B3;
   border-radius: 8px;
   width: 100px;
   height: 100px;
   margin: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#scorehead{
	color:#fff;
}
#score{
	color: #fff;
}
#main h1{
	color: white;
	font-family: 'Merriweather', serif;
}
#reply{
	color: white;
	background-color: #BBADA0;
	position: absolute;
	margin-top: 20px;
	left: 900px;
	width: 60px;
	height: 40px;
	border-radius: 10px;
	border: none;
}
.scoreme{
	position: absolute;
	left: 500px;
	top:20px;
	width: 200px;
	height: 100px;
	border: none;
	background-color: #CCC0B3;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
