*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%px;
	height: 600px;
}
#main{
   width: 418px;
   height: 418px;
   position: absolute;
   background-color: grey;
   left:500px;
   top:100px;
   display: flex;
   flex-wrap: wrap;
}
div{
   background-color:yellow;
   width: 100px;
   height: 100px;
   margin: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#scorehead{
	top:10px;
	left:650px;
	position: absolute;
}
#score{
	top:40px;
	left: 650px;
	position: absolute;
}
